#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  background: linear-gradient(#5b837c, #8f22c2);
}

.form {
  display: flex;

  align-items: center;
  justify-content: center;
}
input {
  font-size: 24px;
  margin-right: 10px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  border: none;
}
.item {
  display: flex;
  font-size: 38px;
  font-weight: bold;
  justify-content: center;
}

.item p {
  padding-right: 12px;
  color: bisque;
}
button {
  height: 50px;
  width: 150px;
}
button:hover {
  background-color: rgba(112, 207, 17, 0.897);
  color: white;
  font-weight: bold;
  border: none;
}
@media (max-width: 767px) {
  /* Estilos para dispositivos móveis */
  #root {
    padding: 2rem;
  }

  .form {
    flex-direction: column;
  }

  input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .item p {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  #root {
    padding: 2rem;
  }

  .form {
    flex-direction: column;
  }

  input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .item p {
    padding-right: 0;
  }
}
